@model IEnumerable<HomeWork.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>客戶聯絡人</h2>

@*<script src="~/Content/jquery-2.0.3.min.js"></script>
<script src="~/Content/jquery-ui.min.js"></script>
<script src="~/Content/jquery.dataTables.min.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />*@

@*<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
<link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>*@


<script>
    $(document).ready(function () {
        $("#table1").dataTable();
    });
    
</script>

<script>
    $("ddlData").on("change", function () {
        $("form").submit();
    });
</script>

<html>
<head>
    <script src="~/Content/jquery-2.0.3.min.js"></script>
        <script src="~/Content/jquery-ui.min.js"></script>
        <script src="~/Content/jquery.dataTables.min.js"></script>
        <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />


</head>
<body>
    <p>
        <table style="width:100%">
            <tr>
                <td width="20%" >
                    @Html.ActionLink("新增客戶聯絡人", "Create")
                </td>
                <td width="20%" >
                    @Html.ActionLink("匯出客戶資料", "Export")
                </td>
                <td width="20%" >
                    @using (Html.BeginForm())
                    {
                        @Html.DropDownList("ddl職稱", null, new { onchange = "this.form.submit();", @class = "form-control" })
                        @*<input type="submit" value="篩選" />*@
                    }
                </td>
                <td width="40%" >
                    @using (Html.BeginForm())
                    {
                        <table>
                            <tr>
                                <td style="text-align:right"><input type="text" name="searchWord" value="" class="form-control" /></td>
                                <td style="text-align:right"><input type="submit" value="搜尋" class="btn btn-default" /></td>
                            </tr>
                        </table>                      
                        
                    }
                </td>
            </tr>
        </table>
    </p>
    <table class="table" id="table1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.職稱)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.姓名)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.手機)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.電話)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.職稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.姓名)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.手機)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.電話)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("詳細資訊", "Details", new { id = item.Id }) |
                        @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
